screenshots/._screenshot_pLaystation_replica-xs.png
screenshots/._screenshot_pLaystation_replica-md.png
screenshots/._screenshot_pLaystation_replica-sm.png
screenshots/._screenshot_pLaystation_replica-lg_xxl.png
