/* reset */
a {
    text-decoration: none;
    color: currentColor;
}
/* utilities */
img { max-width: 100%; }

/* header */
#black-banner { 
    background-color: black;
}
#black-banner img { height: 15px; }
#img-lens { height: 30px; }

/* game banners  */
.game-banner { color: white; }
#returnal { 
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#returnal .row, #takes-two .row { min-height: 590px; }

#takes-two {
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* highlightled */
#highlightled figure {
    max-width: 200px;
    border-radius: 10px;
    overflow: hidden;
}

/* nuove uscite */
#new-releases {
    background-color: #1F1F1F;
}
#new-releases figure {
    max-width: 200px;
    border-radius: 10px;
    overflow: hidden;
}