/* reset */
a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style-type: none;
    color: currentColor;
}

/* utilities */
img { max-width: 100%; }

/* header */
#black-banner { 
    background-color: black;
}
#black-banner img { height: 15px; }
#img-lens { height: 30px; }

/* game banners  */
.game-banner { color: white; }
#returnal { 
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#returnal .row, #takes-two .row { min-height: 590px; }

#takes-two {
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* highlightled */
#highlightled figure {
    max-width: 200px;
    border-radius: 10px;
    overflow: hidden;
    /* transform: translateY(50px); */
}

#highlightled figure:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

#highlightled .active figure {
    border: 3px solid #00439C;
}


/* ps5 */
#ps5-accessories figure { opacity: 0.5; }
#ps5-accessories .active figure {
    opacity: 1;
    border-bottom: 2px solid #00439C;
}
#ps5-accessories figure:hover { 
    opacity: 1;
    cursor: pointer;
}

/* nuove uscite */
#new-releases { background-color: #1F1F1F; }
#new-releases figure {
    max-width: 200px;
    border-radius: 10px;
    overflow: hidden;
}

#new-releases figure:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ps plus */
#ps-plus { background-color: #BEBCBB; }
#plus-logo { max-width: 350px; }
#ps-plus figure:last-of-type { margin-bottom: 0; }

/* sconti */
#discounts figure:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ps now */
#ps-now { background-color: #161C3B; }
#now-logo { max-width: 350px; }

/* social */
#social { min-height: 250px; }
#social figure { max-width: 100px; }
#social figure:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* footer */
footer {
    background-color: #00439C;
    font-size: 12px; 
    min-height: 250px;
}

#foot-logo { height: 100px; }
#language img { height: 15px; }
#disclaimer img { height: 50px; }

/* #disclaimer a {
    text-decoration: underline;
} */

